@{
    ViewBag.Title = "Home Page";
}

<h1 id="title">Packing Planner</h1>

<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3">
            <img src="~/Images/suitcase.png" alt="Suitcase Image" id="suitcase" class="img-responsive"/>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 col-sm-pull-0 col-xs-pull-1">
            <img src="~/Images/guitar.png" alt="Guitar Image" id="guitar" class="img-responsive" />
        </div>
        <div class="col-md-1 col-sm-1 col-xs-2 col-sm-pull-0 col-xs-pull-4">
            <img src="~/Images/hat.png" alt="Hat Image" id="hat" class="img-responsive" />
        </div>
        <div class="col-md-3 col-sm-2 col-xs-2 col-sm-push-1 col-xs-pull-2">
            @Html.ActionLink("New Item", "New", "Items", null, new { @class = "btn btn-primary btn-lg new-button" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-2">
            <img src="~/Images/jeans.png" alt="Jeans Image" id="jeans" class="img-responsive" />
        </div>
        <div class="col-md-1 col-sm-1 col-xs-2 col-sm-push-0 col-xs-push-5">
            <img src="~/Images/sketchbook.png" alt="Book Image" id="book" class="img-responsive" />
        </div>
        <div class="col-md-3 col-sm-3 col-xs-2 col-sm-push-0 col-xs-push-1">
            <img src="~/Images/shirt.png" alt="Shirt Image" id="shirt" class="img-responsive" />
        </div>
        <div class="col-md-1 col-sm-1 col-xs-2 col-sm-pull-0 col-xs-pull-6">
            <img src="~/Images/jar3.png" alt="Jar Image" id="jar" class="img-responsive" />
        </div>
        <div class="col-md-1 col-sm-1 col-xs-2 col-sm-push-0 col-xs-push-4">
            <img src="~/Images/socks.png" alt="Socks Image" id="socks" class="img-responsive" />
        </div>
        <div class="col-md-3 col-sm-2 col-xs-2 col-sm-push-1 col-xs-pull-8">
            @Html.ActionLink("Item List", "Index", "Items", null, new { @class = "btn btn-danger btn-lg" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 col-sm-1 col-xs-2 col-md-push-3 col-sm-push-3 col-xs-push-3">
            <img src="~/Images/goggles.png" alt="Goggles Image" id="goggles" class="img-responsive" />
        </div>
        <div class="col-md-1 col-sm-1 col-xs-2 col-md-push-3 col-sm-push-3 col-xs-push-3">
            <img src="~/Images/hikingboot.png" alt="Boot Image" id="boot" class="img-responsive" />
        </div>
        <div class="col-md-3 col-sm-2 col-xs-3 col-sm-push-7 col-xs-push-4">
            @Html.ActionLink("About", "About", "Home", null, new { @class = "btn btn-warning btn-lg about-button" })
        </div>
    </div>
    <div class="row">
    </div>
</div>