@model IEnumerable<PackingPlanner1.Models.Item>

@{
    ViewBag.Title = "Index";
}

<h2>Items</h2>
@if (!Model.Any())
{
    <p>There are no items saved.</p>
}

else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Quantity</td>
                    <td>@item.Category.Name</td>
                </tr>
            }
        </tbody>
    </table>
}


